body {
    background-color: lightblue;
}

nav {
    
  }

nav li {
    display: inline;
    padding: 10px;
    background-color: lightgreen;
}

#First_group {
    color: darkgreen;
}

.groups {
    text-decoration: underline;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-family:'Courier New', Courier, monospace;
    background-color: beige;
    text-align: center;
}

h2 {
    text-align: center;



}

#first_pages {
   
    text-align:center

}


h3 {
    text-size-adjust: 10000px;

}

#second_pages img{
    padding: 0px 5%;
    width: 35%;
}

